<%-include ("../include/_header") %>


    <section>
        <div class="container mt-4">
            <div class="row">

                <div class="col-md-6">



                    <h2 class="text-center">Add Category</h2>
                    <form action="/admin/adding-category" method="post">
                        <div style="margin-top: 3rem;">
                        <label for="">Name :</label>
                        <input style="margin-top: 1rem;" type="text" name="name" class="form-control">

                    </div>

                        <button type="submit" style="width: 10rem; margin: 0rem 0rem 0rem 10rem;" class="btn btn-info mt-4">Submit</button>

                    </form>
                </div>

            </div>
        </div>
    </section>