<%-include ("../include/_header") %>

    <section>
        <div class="container mt-4">
            <div class="row">

                <div class="col-md-6">


                    <h2 class="text-center">Add Coupon</h2>
                    <% if (errorMsg) { %>
                        <p style="color: red;">
                            <%= errorMsg %>
                        </p>
                        <% } %>
                            <form action="/admin/adding-coupon" method="post" enctype="multipart/form-data">
                                <label for="">Name</label>
                                <input type="text" name="coupon" class="form-control"><br>

                                <label for="">Percentage</label>
                                <input type="number" name="percentage" class="form-control"><br>

                                <label for="">Min.Purchase</label>
                                <input type="number" name="min" class="form-control"><br>

                                <label for="">From date</label>
                                <input type="date" name="fromDate" class="form-control"><br>

                                <label for="">To date</label>
                                <input type="date" name="toDate" class="form-control">

                                <button style="color: white; background-color: black; border: none;" type="submit"
                                    class="btn btn-info mt-4">Submit</button>

                            </form>
                </div>

            </div>
        </div>
    </section>