<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JK Books</title>
    <link rel="icon" type="image/x-icon" href="img/jklogo.jpg">

    <link rel="stylesheet" href="css/cartcss.css">
    <link rel="stylesheet" href="js/cartjs.js">

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- <script src="sweetalert2.min.js"></script>
    <link rel="stylesheet" href="sweetalert2.min.css"> -->


    <script src="https://kit.fontawesome.com/b6d1371885.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- <link rel="stylesheet" href="css/style.css"> -->

</head>

<body style="background-color: white; overflow-x: hidden;">


    <nav class="prod-nav">

        <a href="/">
            <h2 class="prod-head"> JK Books</h2>
        </a>
        <!-- <h3 style="width: 0px;  margin: auto; color: white; font-size: xx-large; position: relative;"> Cart</h3> -->

        <!-- <a href="/cart"><i style="color: white;" class="fa-solid fa-cart-shopping"><sup style="font-size: small;"><span
                        id="cartCountId" class="badge badge-danger">
                    </span></sup></i>
            <h6 style="font-size: 14px; float: right; margin: 3px 0rem 0rem 10px;">Cart</h6>
        </a> -->

        <a href="/">
            <h5 style="    margin-left: 85rem; margin-top: 1rem; color: white;">Home</h5>
        </a>
    </nav>