

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="css/cartcss.css">
  <link rel="stylesheet" href="js/cartjs.js">
</head>

<body>


  <nav class="prod-nav">
    <h2 class="prod-head"> JK Books</h2>
    <h3 style="width: 0px;  margin: auto; color: white; font-size: xxx-large; position: relative;"> Cart</h3>
    <a href=""><h5 style="margin-right: 50px; margin-top: 22px; color: white;">Home</h5></a>
</nav>



  <div class="container">

    <section id="cart">
      <article class="product">
        <header>
          <a class="remove">
            <img src="<%= products.image %>" alt="">

            <h3>Remove product</h3>
          </a>
        </header>

        <div class="content">

          <h1><%= products.name %></h1>

          <%= products.author %>

          <div title="You have selected this product to be shipped in the color yellow." style="top: 0"
            class=""></div>
        </div>

        <footer class="content">
          <span class="qt-minus">-</span>
          <span class="qt">2</span>
          <span class="qt-plus">+</span>

          <h2 class="full-price">
            ₹
          </h2>

          <h2 class="price">
            ₹<%= products.price %>
          </h2>
        </footer>
      </article>

      <!-- <article class="product">
        <header>
          <a class="remove">
            <img src="http://www.astudio.si/preview/blockedwp/wp-content/uploads/2012/08/3.jpg" alt="">

            <h3>Remove product</h3>
          </a>
        </header>

        <div class="content">

          <h1>Lorem ipsum dolor</h1>

          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, numquam quis perspiciatis ea ad omnis
          provident laborum dolore in atque.

          <div title="You have selected this product to be shipped in the color red." style="top: 0" class="">
          </div>
          
        </div>

        <footer class="content">

          <span class="qt-minus">-</span>
          <span class="qt">1</span>
          <span class="qt-plus">+</span>

          <h2 class="full-price">
            ₹79.99
          </h2>

          <h2 class="price">
            ₹79.99 
          </h2>
        </footer>
      </article>

      <article class="product">
        <header>
          <a class="remove">
            <img src="http://www.astudio.si/preview/blockedwp/wp-content/uploads/2012/08/5.jpg" alt="">

            <h3>Remove product</h3>
          </a>
        </header>

        <div class="content">

          <h1>Lorem ipsum dolor ipsdu</h1>

          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, numquam quis perspiciatis ea ad omnis
          provident laborum dolore in atque.

          <div title="You have selected this product to be shipped in the color blue." style="top: 0"
            class=""></div>
        </div>

        <footer class="content">

          <span class="qt-minus">-</span>
          <span class="qt">3</span>
          <span class="qt-plus">+</span>

          <h2 class="full-price">
             ₹53.99
          </h2>

          <h2 class="price">
            ₹17.99
          </h2>
        </footer>
      </article> -->

    </section>

  </div>

  <footer id="site-footer">
    <div class="container clearfix">

      <div class="left">
        <h2 class="subtotal" style="color: white;">Subtotal: ₹<span>163.96</span></h2>
        <h3 class="tax" style="color: white;">Taxes (5%): ₹<span>8.2</span></h3>
        <h3 class="shipping" style="color: white;">Shipping: ₹<span>5.00</span></h3>
      </div>

      <div class="right">
        <h1 class="total">Total: ₹<span>177.16</span></h1>
        <a class="btn">Checkout</a>
      </div>

    </div>
  </footer>

</body>

</html>