<%- include('../include/header') -%>


    <div class="nav">
        <a href="/" style="text-decoration: none;">
            <h1>JK Books</h1>
        </a>
        <div style=" margin: 0rem 0 0rem 60rem; width: 3rem;">
            <a href="/"><button class="h6">Home</button></a>
        </div>
        <a href="/user-signup"><button class="h6">Sign Up</button></a>
    </div>
    <div class="main">
        <div class="text-center center-div" id="login ">

            <div class="container adminhome w-55 border py-5">
                <div class="title">
                    <h2 class="font-weight-bold">User Login </h2><br>

                    <span><a href="/loginwithOtp"> Log in with otp </a></span>

                    <% if(locals.logout){ %>
                        <div class="alter alert-success text-center">
                            <%= logout %>
                        </div>
                        <% } %>

                            <% if(locals.error){ %>
                                <div class="alter alert-danger text-center">
                                    <%= error %>
                                </div>
                                <% } %>


                </div><br>

                <form action="/user-home" method="post" class="pt-3">
                    <div class="form-group">
                        <!-- <input type="email" class="form-control" placeholder="Email" name="email"> -->
                        <!-- <small class="form-text text-muted text-left">Enter Email address</small> -->
                        <label for="name" style="float: left;">Email</label>
                        <input type="text" class="form-control" placeholder="Email" name="email" required
                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required />
                    </div><br>
                    <div class="form-group">
                        <!-- <small class="form-text text-muted text-left">Enter Password</small> -->
                        <label for="name" style="float: left;">Password</label>
                        <input style="background-color: white;" type="password" class="form-control" name="password"
                            placeholder="Password">
                    </div>
                    <br>
                    <button type="submit" class="btn btn-success rounded-pill" style="width: 15%;">Submit</button>
                    <p id="err"></p>
                </form>
            </div>

        </div>
    </div>

    <%- include("../include/footer") -%>